### What You're Aiming For

In this checkpoint, we are going to practice consuming public APIs through the NASA public APIs portal.

Portal description : The objective of this portal is to make NASA data, including imagery, eminently accessible to application developers and data professionals. Before starting to use its APIs endpoints, it's mandatory that you generate your API KEY and store it somewhere for later use. The API key acts as the user identifier when requesting the API. To get your KEY, fill in the provided form with your personal information, and then we shall receive an email containing your personal API KEY.

## Instructions

- Go to the NASA API portal and generate your API KEY
- Import the requests package and store your API KEY in variable
- Go back to portal website and click on 'browse APIs'
- Click on the first dropdown menu, named 'APOD' and read its documentation
- Follow the provided documentation to ask the API endpoint for the astronomy picture of the day. Get then display the image on your notebook.
- Go through the list of the provided API endpoints once again and select 'Astronomy Picture of the Day' option. Store the results in a pandas dataframe
- Do the necessary data pre-processing tasks on the previous result in order to get a clean dataframe with the following columns :
    - Asteroid ID
    - Asteroid name
    - The Minimal estimated diameter in Kilometre
    - Absolute_magnitude
    - Relative_velocity(km/s)
- Try to export the new dataframe into a CSV file and share it with your colleagues

In [1]:
import requests
import pandas as pd

In [4]:
import requests
from IPython.display import Image, display

# Your API key and URL
api_key = "wpjAsnktWXBoOL12sGVIsZzfNXiquGGsTgeSnPgG"
url = f"https://api.nasa.gov/planetary/apod?api_key={api_key}"

# Make the API call
response = requests.get(url)

# Convert the response to JSON format
data = response.json()

# Extract the URL of the image
image_url = data['url']

# Display the image
display(Image(url=image_url))

In [9]:
# API key and URL (NASA NEO API for asteroid data)
api_key = "wpjAsnktWXBoOL12sGVIsZzfNXiquGGsTgeSnPgG"
url = f"https://api.nasa.gov/neo/rest/v1/feed?start_date=2023-10-01&end_date=2023-10-07&api_key={api_key}"

# Make the API call
response = requests.get(url)

# Convert the response to JSON format
data = response.json()

# Extract the 'near_earth_objects' dictionary from the JSON
near_earth_objects = data['near_earth_objects']

# Create a list to store processed asteroid data
asteroid_data = []

# Loop through each date's asteroids
for date in near_earth_objects:
    for asteroid in near_earth_objects[date]:
        asteroid_id = asteroid.get('id')
        asteroid_name = asteroid.get('name')
        absolute_magnitude = asteroid.get('absolute_magnitude_h')

        # Get the minimal estimated diameter (in kilometers)
        diameter_data = asteroid.get('estimated_diameter', {}).get('kilometers', {})
        min_diameter = diameter_data.get('estimated_diameter_min')

        # Get the relative velocity (in km/s) from close approach data
        close_approach_data = asteroid.get('close_approach_data', [])
        if close_approach_data:
            relative_velocity = close_approach_data[0].get('relative_velocity', {}).get('kilometers_per_second')
        else:
            relative_velocity = None

        # Append the data to the list
        asteroid_data.append([asteroid_id, asteroid_name, min_diameter, absolute_magnitude, relative_velocity])

# Create a pandas DataFrame from the asteroid data
df = pd.DataFrame(asteroid_data, columns=['Asteroid ID', 'Asteroid Name', 'Minimal Estimated Diameter (km)', 'Absolute Magnitude', 'Relative Velocity (km/s)'])


# Export the DataFrame to a CSV file
csv_filename = 'asteroid_data.csv'
df.to_csv(csv_filename, index=False)

print(f"CSV file '{csv_filename}' has been created successfully!")

CSV file 'asteroid_data.csv' has been created successfully!

In [13]:
asteroid_df = pd.read_csv("asteroid_data.csv")

In [15]:
asteroid_df.head()

,Asteroid ID,Asteroid Name,Minimal Estimated Diameter (km),Absolute Magnitude,Relative Velocity (km/s)
0,2137084,137084 (1998 XS16),1.344482,16.48,18.020338
1,2252399,252399 (2001 TX44),0.348783,19.41,13.173765
2,3342645,(2006 SG7),0.071871,22.84,11.207452
3,3451020,(2009 EG3),0.145397,21.31,19.749447
4,3606252,(2012 OO),0.197950,20.64,9.442147

In [16]:
asteroid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Asteroid ID                      185 non-null    int64
 1   Asteroid Name                    185 non-null    object
 2   Minimal Estimated Diameter (km)  185 non-null    float64
 3   Absolute Magnitude               185 non-null    float64
 4   Relative Velocity (km/s)         185 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 7.4+ KB